version: "3.9"
services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: portfolio_db
      POSTGRES_USER: portfolio_user
      POSTGRES_PASSWORD: portfolio_pass
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  api:
    build: ./PortfolioTrackerApi
    depends_on:
      - db
    environment:
      ConnectionStrings__DefaultConnection: "Host=db;Port=5432;Database=portfolio_db;Username=portfolio_user;Password=portfolio_pass"
    ports:
      - "8080:8080"

volumes:
  pgdata:
